@charset "UTF-8";
/* ESTILOS ÚNICOS DE LA PÁGINA DE CONTACTO */
/* estilos para los elementos HTML COMUNES que aparecen en TODAS LAS PÁGINAS */
/* Estilos básicos de configuración de toda la web */
/* reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* fuentes */
@font-face {
  font-family: "anton";
  src: url("../fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
/* variables */
/* Estilos de textos y encabezados */
h1 {
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-family: "anton";
  letter-spacing: 2px;
  color: rgb(34, 34, 34);
}

h2 {
  font-size: clamp(2rem, 3.5vw, 5rem);
  font-family: "poppins";
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(88, 189, 88);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-family: "poppins";
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(243, 160, 160);
}

a, p {
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-family: "poppins";
}

p {
  color: rgb(34, 34, 34);
}

a {
  text-decoration: none;
  color: rgb(243, 160, 160);
}

cite {
  margin: 0 1.5rem;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  color: rgb(148, 148, 148);
  border-left: 3px solid rgb(243, 160, 160);
}

.boton {
  background-color: rgb(243, 160, 160);
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: 0.5s;
}
.boton:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

/* estilos globales básicos de estructura*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body, nav, header, main, footer, section {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

nav, main, header, footer, section {
  max-width: 2560px;
}

main, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section {
  row-gap: 2.5rem;
}

.gor_art01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
}
@media only screen and (min-width: 1350px) {
  .gor_art01 {
    width: 80%;
  }
}
.gor_art01 > :nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 1350px) {
  .gor_art01 > :nth-child(1) {
    justify-content: space-between;
  }
}
.gor_art01 > :nth-child(1) > img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media screen and (min-width: 750px) {
  .gor_art01 > :nth-child(1) > img {
    height: 40vh;
  }
}
@media screen and (min-width: 1350px) {
  .gor_art01 > :nth-child(1) > img {
    width: 40%;
    height: 500px;
  }
}
.gor_art01 > :nth-child(1) > div {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
@media screen and (min-width: 1350px) {
  .gor_art01 > :nth-child(1) > div {
    width: 55%;
  }
}
@media only screen and (min-width: 750px) {
  .gor_art01 > :nth-child(2) {
    width: 80%;
  }
}
@media only screen and (min-width: 1350px) {
  .gor_art01 > :nth-child(2) {
    width: 60%;
  }
}
.gor_art01 > :nth-child(3) {
  width: 100%;
}
@media only screen and (min-width: 750px) {
  .gor_art01 > :nth-child(3) {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
@media only screen and (min-width: 1350px) {
  .gor_art01 > :nth-child(3) {
    height: 200px;
  }
}